section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

section .form_content{
    flex: auto;
}

section .display_content{
    flex: auto;
}


.form_content form{

    text-align: left;
}

form .form_submit{
    text-align: right;
}
